@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-logo {
  padding: 0.6rem;
  width: 12rem;
  animation: shake 15s ease-in-out;
  animation-iteration-count: infinite;
}
.App-Link {
  text-decoration: none;
}
.App-Link:hover {
  background: rgb(201, 186, 186, 0.2);
}
.Nav-text:hover {
  text-decoration: none;
}
.Nav-text {
  font-size: 1rem;
  color: #f6bb06;
  padding: 1.2rem 5rem;
}

.open-menu-box {
  content: url("../public/assets/menu-icon.png");
  background-color: #0d395a;
  z-index: 3;
  position: fixed;
  width: 6%;
  height: 6%;
  cursor: pointer;
  top: 0;
  left: 0px;
  visibility: hidden;
}
.open-menu-box:checked {
  content: url("../public/assets/menu-icon-x.png");
}
.open-menu-box:checked ~ .Nav-bar {
  transform: translateX(0%);
  
}
.Nav-bar {
  transition: 1s ease-in-out;
  width: 100%;
  z-index: 2;
  background-color: rgb(5, 27, 44);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: oswald;
  font-weight: 100;
  word-spacing: 10px;
  box-shadow: 0px 0px 36px #ffffff25;
}
.Nav-links {
  display: flex;
}
.sticky {
  position: fixed;
  top: 0;
}
.Landing-cover {
  display: flex;
  height: 93vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("../public/assets/Landing-BG.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Slogan-CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  padding: 1rem;
}

.Title-slogan {
  font-size: calc(12px + 2rem);
  color: white;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 100%) 0,
    hsl(0, 0%, 29%) 10%,
    hsl(0, 0%, 100%) 20%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

.Slogan-slogan {
  margin-bottom: 2rem;
  color: #f6bb06;
  letter-spacing: 0.2rem;
}

.Slogan-paragraph {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 20%;
  margin-bottom: calc(20px + 1rem);
  color: white;
}

.Slogan-button {
  font-size: 18px;
  font-weight: 500;
  padding: 0.5% 1%;
  color: #051b2c;
  background-color: #f6bb06;
}
.Slogan-button:hover,
.Slogan-button:focus,
.Slogan-button:active {
  outline: 1px solid white;
  color: white;
  background: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.Our-products {
  height: auto;
  background-color: #f6bb06;
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-rows: repeat(2, fr);
}
.Title-products {
  font-size: calc(12px + 2rem);
  color: #04233a;
  margin-top: 2%;
}

:root {
  --surface-color: #f6bb06;
  --curve: 40;
}

.cards {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
  gap: 2rem;
  margin: 2% 0;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  text-decoration: none;
  border: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 30px;
  background-color: #051b2c;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em;
  border-radius: 30px 0 0 0;
  background-color: #f6bb06;
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: shake 15s ease-in-out;
  animation-iteration-count: infinite;
}

.card__title {
  font-size: 14px;
  margin: 0 0 0.3em;
  color: #051b2c;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #051b2c;
}

.card__status {
  font-size: 0.8em;
  color: #ffffff;
}

.card__description {
  padding: 0 2em 0;
  margin: 0;
  color: #f6bb06;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.Contact-us {
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../public/assets/cover-bg-2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.Contact-us-form {
  display: flex;
  flex-direction: column;
  padding: 2% 20%;
}

.Contact-us-title {
  color: white;
  padding: 1%;
}
.Contact-us-input {
  border: solid 1px #f6bb06;
  color: white;
  padding: 1%;
  border-radius: 15px;
  background-color: #051b2c7c;
}
.Contact-us-label {
  color: white;
  padding: 1%;
  border-radius: 15px;
}
.Contact-us-submit {
  margin: 2% 0;
  font-size: 18px;
  font-weight: 500;
  padding: 0.5% 1%;
  color: #051b2c;
  border-radius: 15px;
  background-color: #f6bb06;
}

.Contact-us-submit:hover,
.Contact-us-submit:focus,
.Contact-us-submit:active {
  outline: 1px solid #f6bb06;
  color: white;
  background: #051b2c7c;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer {
  height: 50vh;
  width: 100%;
  background-color: #051b2c;
  bottom: 0;
  box-shadow: 1px 1px 16px #ffffff25;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1% 20%;
  color: white;
}

/* Animations*/

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 800px;
  }
}

/*Media Queries for responsiveness*/

@media screen and (max-width: 1020px) {
  .App-logo {
    width: 120px;
  }
  .Nav-links {
    flex-direction: column;
  }
  .Nav-bar {
    text-align: center;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    position: fixed;
    top: 0;
    padding-top: 20%;
    transform: translateX(-100%);
    display: block;
    width: 80%;
    background-color: #04233ac5;
  }
  .open-menu-box{
    visibility: visible;
  }
}
