@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");

/************************* Variables ************************/
:root {
  --surface-color: #e4a11b;
  --bg1-color: #121416;
  --curve: 40;
}
/************************* Reset ************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************* Body ************************/
body,
html {
  background-color: var(--bg1-color);
}
/************************* Nav-Bar ************************/
.Nav-bar-container {
  box-shadow: 0px 0px 36px #ffffff25;
}
.App-logo {
  padding: 0.6rem;
  width: 12rem;
  animation: shake 15s ease-in-out;
  animation-iteration-count: infinite;
}
.App-Link {
  text-decoration: none;
}
.App-Link:hover {
  background: rgb(201, 186, 186, 0.2);
}
.Login-buttons {
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.User-button {
  background: var(--surface-color);
  color: white;
  width: 8rem;
  padding: 3%;
  margin-left: 7%;
  border: none;
  border-radius: 8px;
}
.User-button:hover,
.User-button:hover ~ h5 {
  background-color: none;
  color: white;
  border: solid 1px white;
}
.Nav-text:hover {
  text-decoration: none;
}

.Nav-text {
  font-size: 1rem;
  color: var(--surface-color);
  padding: 1.2rem 5rem;
}
.Nav-text2 {
  font-size: 1.2rem;
  color: var(--surface-color);
  padding: 0.5rem 3rem;
}
.open-menu-box {
  content: url("./assets/menu-icon.png");
  background-color: var(--bg1-color);
  z-index: 3;
  position: fixed;
  width: 6%;
  height: 6%;
  cursor: pointer;
  top: 0;
  left: 0px;
  visibility: hidden;
}
.open-menu-box:checked {
  content: url("./assets/menu-icon-x.png");
}
.open-menu-box:checked ~ .Nav-bar-menu {
  transform: translateX(0%);
}
.Nav-bar-logo {
  transition: 1s ease-in-out;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Josefin Sans";
  font-weight: 100;
  word-spacing: 10px;
}
.Nav-bar-menu {
  transition: 1s ease-in-out;
  width: 100%;
  z-index: 2;
  background-color: var(--bg1-color);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans";
  font-weight: 100;
  word-spacing: 10px;
}
.Nav-links {
  display: flex;
}
.sticky {
  position: fixed;
  top: 0;
}

.logo-banner {
  width: 20rem;
  visibility: hidden;
}
.logo-banner-footer {
  width: 20rem;
}
/************************* Landing Page ************************/

.Landing-cover {
  display: flex;
  height: 93vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("./assets/Landing-BG.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Slogan-CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  padding: 1rem;
}

.Title-slogan {
  font-size: calc(12px + 2rem);
  color: white;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 100%) 0,
    hsl(0, 0%, 29%) 10%,
    hsl(0, 0%, 100%) 20%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

.Slogan-slogan {
  margin-bottom: 2rem;
  color: var(--surface-color);
  letter-spacing: 0.2rem;
}

.Slogan-paragraph {
  font-size: 14px;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  padding: 0 20%;
  margin-bottom: calc(20px + 1rem);
  color: white;
}

.Slogan-button {
  font-size: 18px;
  font-weight: 500;
  padding: 1% 2%;
  color: var(--bg1-color);
  background-color: var(--surface-color);
  border-radius: 2px;
  border: none;
}

.Slogan-button:hover,
.Slogan-button:focus,
.Slogan-button:active {
  outline: 1px solid white;
  color: white;
  background: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.Our-products {
  height: auto;
  background-color: var(--surface-color);
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-rows: repeat(2, fr);
}
.Title-products {
  font-size: calc(12px + 2rem);
  color: #04233a;
  margin-top: 2%;
}

.fa-regular,
.fa-bring-front {
  font-size: 34px;
}
.cards {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
  gap: 2rem;
  margin: 2% 0;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  text-decoration: none;
  border: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 30px;
  background-color: var(--bg1-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em;
  border-radius: 30px 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: shake 15s ease-in-out;
  animation-iteration-count: infinite;
}

.card__title {
  font-size: 14px;
  margin: 0 0 0.3em;
  color: var(--bg1-color);
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: var(--bg1-color);
}

.card__status {
  font-size: 0.8em;
  color: #ffffff;
}

.card__description {
  padding: 0 2em 0;
  margin: 0;
  color: var(--surface-color);
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/*************************** Contact us Form Starts Here ***********************/
.Contact-us {
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/cover-bg-2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.Contact-us-form {
  display: flex;
  flex-direction: column;
  padding: 2% 20%;
}

.Contact-us-title {
  color: white;
  padding: 1%;
}
.Contact-us-input,
.form-control {
  border: solid 1px var(--surface-color);
  color: white;
  padding: 1% 2% 1% 2%;
  border-radius: 15px;
  background-color: rgba(36, 36, 11, 0.479);
}
.Contact-us-input:focus {
  background-color: #ffffff25;
  color: var(--bg1-color);
  outline: none;
}
.Contact-us-input-btn {
  border: solid 1px var(--surface-color);
  color: white;
  padding: 2% 4% 2% 4%;
  border-radius: 15px;
  background-color: rgb(18, 20, 22, 0.2);
}
.Contact-us-input-btn:focus {
  background-color: #ffffff25;
  color: var(--bg1-color);
  outline: none;
}
.Contact-us-label {
  color: white;
  padding: 1%;
  border-radius: 15px;
}
.Contact-us-submit {
  margin: 2% 0;
  font-size: 18px;
  font-weight: 500;
  padding: 0.7% 1%;
  color: var(--bg1-color);
  border: 1px solid var(--surface-color);
  border-radius: 15px;
  background-color: var(--surface-color);
}

.Contact-us-submit:hover,
.Contact-us-submit:focus,
.Contact-us-submit:active {
  outline: none;
  color: white;
  background: var(--bg1-color) 7c;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.Contact-us-submit-btn {
  margin: 2% 0;
  font-size: 18px;
  font-weight: 500;
  padding: 1.5% 2%;
  color: var(--bg1-color);
  border: 1px solid var(--surface-color);
  border-radius: 15px;
  background-color: var(--surface-color);
}

/* ************************ About us page *************** */

.container-about-us {
  overflow: hidden;
  background-attachment: fixed;
  background-color: #e4a11b;
}
.about-us-text {
  font-size: 20px;
  color: #04233a;
  text-align: center;
  display: inline-block;
  height: 34vh;
  width: 100%;
  padding: 5% 25%;
  margin: 0 auto;
  background-color: #e4a11b;
}
.sliding-background {
  background: url("./assets/scrolling-slide.png") repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
  margin-bottom: 10%;
}
.about-us-map {
  width: 100%;
  height: 30rem;
  margin: 0 auto;
  filter: invert(90%);
  margin-bottom: 10%;
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
/************************* Footer ************************/
.footer {
  height: 50vh;
  width: 100%;
  background-color: var(--bg1-color);
  bottom: 0;
  box-shadow: 1px 1px 16px #ffffff25;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1% 20%;
  color: white;
}
.footer-bg {
  background-color: rgba(0, 0, 0, 0.2);
}
.text-center a {
  margin-left: 4px;
}
.text-center a:hover {
  color: var(--surface-color);
}
/*************** Business Card Page 'Form.js' *******************/
.Form-cover {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("./assets/cover-bg-2.jpg");
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}
.Business-card-container {
  margin: 0;
  padding: 5%;
}
.Business-card-form {
  margin: 0 2rem;
  padding: 2%;
}
.form-title {
  color: white;
  font-size: 30px;
}
.Business-card-preview {
  margin: 0 2rem;
  padding: 2%;
}
.Business-card-preview h1 {
  margin-bottom: 6rem;
}
.Business-card-preview-container {
  /* This is the parent for user details*/
  position: relative;
  width: 60%;
  margin: 0 auto;
}
.main-card {
  margin-bottom: 2rem;
  border-radius: 35px;
  width: 100%;
}
.main-card-library {
  margin: 2rem;
  border-radius: 25px;
  width: 50%;
}
.Card-preview-info {
  padding: 5%;
  position: absolute;
  width: 100%;
  height: 70%;
  top: 0;
  padding: 1%;
  color: white;
}
/***********************User Details Preview***********/
.username {
  font-family: "Josefin Sans";
  position: absolute;
  font-size: calc(18px + 0.1rem);
  font-weight: bold;
  text-transform: uppercase;
  left: 11%;
  top: 15%;
}
.business-title {
  position: absolute;
  text-transform: capitalize;
  font-family: "Josefin Sans";
  font-size: calc(15px + 0.1rem);
  top: 28%;
  left: 11%;
}
.user-email {
  position: absolute;
  font-size: calc(10px + 0.1rem);
  text-transform: lowercase;
  top: 46%;
  left: 16%;
}

.user-phone {
  position: absolute;
  font-size: calc(10px + 0.1rem);
  top: 53%;
  left: 16%;
}
.user-youtube {
  position: absolute;
  font-size: calc(10px + 0.1rem);
  text-transform: lowercase;
  top: 63%;
  left: 16%;
}

.user-facebook {
  position: absolute;
  font-size: calc(10px + 0.1rem);
  text-transform: lowercase;
  top: 70%;
  left: 16%;
}

.user-twitter {
  position: absolute;
  font-size: calc(10px + 0.1rem);
  top: 80%;
  left: 16%;
}
.user-instagram {
  position: absolute;
  font-size: calc(10px + 0.1rem);
  text-transform: lowercase;
  top: 87%;
  left: 16%;
}
.user-website {
  position: absolute;
  font-size: calc(10px + 0.1rem);
  text-transform: lowercase;
  top: 97%;
  left: 6%;
}
.user-whatsapp {
  position: absolute;
  font-size: calc(10px + 0.1rem);
  left: 50%;
  top: 97%;
}

.User-profile-pic {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 15%;
  height: calc(70px + 5%);
  object-fit: cover;
  border-radius: 50%;
}

/******************* Carousel ***********************/

.BC-templates {
  position: relative;
  left: 10%;
}
.carousel-images {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
}
.carousel {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2% 0;
  display: flex;
}
.carousel img {
  display: inline-flex;
  margin: 1%;
  width: 20%;
  padding: 0 1%;
  cursor: pointer;
  transition: transform 0.2s;
}
.carousel img:hover {
  transform: scale(0.9);
}
.Slide-previous {
  background: var(--surface-color);
  color: rgb(27, 23, 23);
  position: absolute;
  padding: 1%;
  left: 0;
  border: solid 1px var(--surface-color);
}
.Slide-next {
  background: var(--surface-color);
  color: rgb(27, 23, 23);
  position: absolute;
  padding: 1%;
  border: solid 1px var(--surface-color);
  right: 0;
}
.Slide-previous:hover,
.Slide-next:hover {
  opacity: 0.6;
}
.Slide-previous:active {
}
/* Animations*/

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 800px;
  }
}

/*Media Queries for responsiveness*/

@media screen and (max-width: 1020px) {
  .App-logo {
    width: 120px;
  }
  .Nav-links {
    flex-direction: column;
  }
  .Nav-bar-logo {
    text-align: center;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    position: fixed;
    top: 0;
    padding-top: 20%;
    transform: translateX(-100%);
    display: block;
    width: 80%;
    background-color: rgb(18, 20, 22, 0.773);
  }
  .logo-banner {
    visibility: visible;
  }

  .Nav-bar-menu {
    text-align: center;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    position: fixed;
    top: 0;
    padding-top: 20%;
    transform: translateX(-100%);
    display: block;
    width: 80%;
    background-color: rgba(18, 20, 22, 0.863);
  }
  .open-menu-box {
    visibility: visible;
  }
}

/* Extra */
.container h2 {
  text-align: center;
  margin: 25px auto;
}
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
.submit-form {
  max-width: 300px;
  margin: auto;
}
.edit-form {
  max-width: 300px;
  margin: auto;
}
.card-btn {
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;
  border: var(--surface-color) solid 1px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/cover-bg-2.jpg");
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  height: 60vh;
  width: 50vw;
}
.login-register {
  padding-top: 10%;
}
.popup-content {
  position: fixed;
  left: 0;
  right: 0;
}
#popup-root {
  position: absolute;
  top: 25%;
  left: -65%;
  margin: 0 auto;
}
.card-btn {

}

/* ******************** Library *********************** */
.library-main{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.library-body {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1%;
  grid-row-gap: 2%;
  padding: 2%;
  height: 67vh;
  border-top: solid rgb(49, 49, 49);
  border-bottom: solid rgb(49, 49, 49);
  background: linear-gradient(rgba(41, 35, 5, 0.6), rgba(0, 0, 0, 0.6)),
  url("./assets/Landing-BG.jpg");
  background-position: center;
  background-attachment: fixed;
}
.library-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.library-card-container img {
  width: 100%;
  margin: 0 auto;
  border: solid rgb(37, 37, 37);

}
.library-edit-btn, .library-delete-btn {
  display: inline-block;
  margin: 5% 8%;
  padding: 1% 1%;
  width: 6vw;
  border-radius: 25px;
  color: white;
  border: solid rgb(37, 37, 37);
}
.library-edit-btn:hover, .library-delete-btn:hover{
background: none;
color: #e4a11b;
border: solid 1px #e4a11b;
}
.library-delete-btn{
 background: rgba(175, 11, 11, 0.445);
}
.library-edit-btn{
 background: rgba(25, 175, 11, 0.5);
}